/* -------------------main links and some useful styles---------------- */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins:wght@500&family=Roboto+Slab&family=Roboto:wght@500&display=swap');

/* 
font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif; */
* {
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box !important;
}

/* -------navbar styles-------- */

.navbar-collapse {
    flex-grow: 0 !important;
    font-size: 1.1rem !important;
    font-weight: 500;
}

.nav-img {
    width: 12rem;
}

.navbar-nav {
    gap: 1.5rem !important;
}

.dropdown-item:hover {
    background-color: #413960 !important;
    color: #fff !important;
}

.useful-btn {
    border-radius: 25px;
    color: #fff;
    background-color: #3daf3d;
    padding: 10px 20px;
    border: 1.5px solid transparent;
    margin: 0px 5px;
}

/* --------******useful btns styles all are here****** -------- */

.useful-btn:hover {
    background-color: #fff;
    color: #413960;
    border: 1.5px solid #413960;
    transition: 0.3s;

}

/* =========banner area style here======= */


.banner-row {
    margin: 2rem 0 1rem 0 !important;
}

.banner-header {
    font-size: 3rem;
    font-weight: 700;

}

.banner-txt {
    margin: 30px 0px;
    line-height: 30px;
}

/* card images top styles */
.topic-card-img {
    width: 4.5rem !important;
}

.card {
    border: none !important;
    background: #f0fff0 !important;
    border-radius: 5px !important;
}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #fff !important;
}

/* course section style */
.start-p {
    font-size: 13px !important;
}

/* testimonial styles */
.testi-div {
    flex-direction: row;
    gap: 50px;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.img-testi {
    width: 20%;
}










/* -----------media query-------- */

@media (min-width: 0px) and (max-width: 768px) {
    .testi-div {
        flex-direction: column !important;
    }

    .img-testi {
        width: 40%;
    }
}