@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins:wght@500&family=Roboto+Slab&family=Roboto:wght@500&display=swap');

/* 
font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif; */
html {
    font-family: 'Poppins', sans-serif !important;

}

.navbar-collapse {
    flex-grow: 0 !important;
    font-size: 1.1rem !important;
    font-weight: 500;
}

.nav-img {
    width: 12rem;
}

.navbar-nav {
    gap: 1.5rem !important;
}

.dropdown-item:hover {
    background-color: #413960 !important;
    color: #fff !important;
}

.useful-btn {
    border-radius: 25px;
    color: #fff;
    background-color: #3daf3d;
    padding: 10px 20px;
    border: none;

    margin: 0px 5px;
}

.useful-btn:hover {
    background-color: #413960;
    color: #fff;
    transition: 0.2s;
}

.banner-row {
    margin: 5rem 0 1rem 0 !important;
}